<p id="notice"><%= notice %></p>

<p>
  <strong>Creditno:</strong>
  <%= @creditcard.creditno %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @creditcard.customer %>
</p>

<p>
  <strong>Version:</strong>
  <%= @creditcard.version %>
</p>
